* {
    background-color: transparent;
    color: black;
    font-family: 'Noto Sans', 'sans-serif'; 
    font-size: 18px;
    margin: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
    color: #ab1b68;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 40px;
}

header {
    font-weight: 600;
}

h2 {
    background-color: transparent;
    color: black;
    font-size: 20px;
    border: 1px solid;
    border-color: black;
    background-color: #FFCFCC;
}

img {
    height: 200px;
    width: 200px;
    border: solid 2px; 
    border-color: black;
    margin-bottom: 0px;
    margin-left: 40px;
}

body {
    background-image: url("https://img.freepik.com/free-vector/pink-smudge-watercolor-background-design_53876-100654.jpg?t=st=1679786022~exp=1679786622~hmac=ba679da5a902d3a5ccce36db0a11345972388a936b465aa81849c687efa456a0");
    background-size: contain;
    border: solid 2px;
    border-color: black;
    margin-right: 30px;
    margin-left: 30px;
}

h3 {
    text-decoration: underline;
}

p {
    border: 1px solid;
    border-color: black;
    font-size: 15px;
    margin-bottom: 0px;
    margin-left: 850px;
    margin-bottom: 0px;
}

#mi_parrafo2 {
    font-family: 'Noto Sans', 'sans-serif'; 
    font-size: 20px;
    margin-left: 40px;
    border: none;
}

address a {
    margin-left: 0px;
}

dt {
    font-weight: 600;
}

footer p {
    margin-top: 120px;
    margin-left: 40px;
    font-size: 15px;
    border: none;
}

#titulo2 {
    font-size: 25px;
    background-color: transparent;
    color: black;
    border: none; 
    text-decoration: underline;
}

#my_input {
    text-decoration: underline;
    margin-left: 40px;
    font-size: 15px;
}

#ultimoparrafo {
    font-size: 18px;
    color: #ab1b68;
    font-weight: bold;
    margin-top: 150px;
    margin-left: 40px;
    margin-bottom: 10px;
    border: none;
}
iframe {
    margin-top: 0px;
    margin-left: 850px;
    margin-right: 0px;
}

button {
    border: 1px solid;
    border-color: black;
    margin-left: 30px;
}